@import url(https://fonts.googleapis.com/css?family=Raleway:200);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/*--> Header > TopBox <--*/

.top-box {
    background-color: #f5f5f5;
}

.social-links{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.social-links ul{
    display: flex;
    margin:0 10% 0 0;
}

.social-links ul li{
    margin-left: 1px;
    display: inline;
}

.number, .social-links>a{
    font-size: 11px;
}

.social-links>a{
    text-decoration: none;
    color: #29bdca;
    margin-right: 20px;
}

.social-links span{
    color: #808080;
    margin-right: -20px;
}

.social-links>a:hover{
    text-decoration: underline;
}

a.fa{
    font-size: 14px;
    background: #E5E5E5;
    line-height:30px;
    text-align: center;
    color: #808080;
    text-decoration: none;
    height: 30px;
    width: 30px;
}

a.fa:hover{
    background: #d7d7d7;
}

/*--> Header > Logo and Nav <--*/

.center-box{
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    margin-left: 120px;
}

.logo h1{
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
}

.logo h1 span{
    font-family: 'Open Sans', sans-serif;
    margin-right: 10px;
    padding: 0 8px 2px 8px;
    background: #29bdca;
    color: #fff;
    font-weight: 800;
}

nav ul{
    margin-left: 80px;
}

nav li{
    margin-right: 35px;
    display: inline;
}

nav li a{
    color: #808080;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
}

nav li a:hover{
    text-decoration: underline;
}

/*--> Header > Title <--*/

.botton-box{
    display: flex;
    flex-direction: column;
}

.location{
    display: flex;
    align-items: center;
    height: 37px;
    background-color: #2095a0;
    font-size: 11px;
}

.location span{
    color: #575757;
}

.location p{
    color: #2ff1ff;
}

.location a{
    text-decoration: none;
    color: #fff;
    margin-left: 120px;
}

.heading{
    height: 185px;
    background-color: #29bdca;
}

.heading h1, .heading h2{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-left: 120px;
}

.heading h1{
    line-height:20px;
    font-weight: bolder;
    font-size: 28px;
    padding-top: 30px;
}

.heading h2{
    font-size: 15px;
    line-height:0;
}